:root {    
  --color-white: #f9f5ff;
  --color-black: #0f0e11;

  --color-neutral-90: #343441;
  --color-neutral-80: #525062;
  --color-neutral-70: #6b6a7c;
  --color-neutral-60: #7d7b8a;
  --color-neutral-50: #918f9e;
  --color-neutral-40: #a7a5b1;
  --color-neutral-30: #bcbac5;
  --color-neutral-20: #d1ced9;
  --color-neutral-10: #e6e3ed;
}